body{
  background: white ;

}

header{
  background-color: grey ;
  text-align: center;

}

.précédent{
  background-color: green;

}

section{
background-color: #ffff;
    }

.illustration-container{
  background-color: red;
  flex-direction: column 2;
  float: right;

  display: flex;
  width: 50%;
  height: 720px;

}

.publicité-container {
  background-color: orange;
  height: 480px;
}

.typographie-container{
  background-color: pink;
  flex-direction: column 2;
  float: right;
  width: 50%;
  height: 480px;



}

.photographie-container{
  background-color: yellow;
  width: 50%;
  height: 720px;
  flex-direction: column 2;
  float: right;


}

.plus-sur-moi-container{
  background-color: grey;
  width: 50%;
  height: 480px;
  flex-direction: column 1;
  float: right;



}

.contact-container{
  background-color: purple;
  text-align: center;

  float: none;

}
