body{
  background: white ;

}

header{
  background-color: white;
  text-align: center;
  height: 100px;
}

a{
  text-decoration-color: purple;
  text-decoration: none;
}



section{
background-color: #ffff;
    }
.project-type-container{
  background-color: pink;
  display: flex;
  min-height: 85vh;
  align-items: stretch;
  font-size: 40px;
  color: white;
}

.project-type-container > div{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;

}

.project-type-container > div > div{
  flex-grow: 1;
  width: 100vh;


}
.illustration-container{
  background-color: black;
  text-align: right;
  justify-content: flex-end;
  border-color: 5px yellow, solid;

}

.publicité-container {
  background-color: black;

}

.typographie-container{
  background-color: black;


}

.photographie-container{
  background-color: black;


}

.plus-sur-moi-container{
  background-color: black;




}

.contact-container{
  background-color: white;
  text-align: center;
  align-items: center;
  overflow: auto;
  color: black;


}
