body{
  background: white ;

}

header{
  background-color: white;
  text-align: center;
  height: 100px;
}

a{
  text-decoration-color: purple;
  text-decoration: none;
}


div{
  display: block;
}


section{
background-color: #ffff;
    }

.project-type-container{
  display: flex;
  min-height: 85vh;
  align-items: stretch;
  font-size: 40px;

}

.project-type-container > div{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;

}

.side-right {
    position: relative;
    overflow: auto;
    height: auto;
}

.project-type-container > div > div{
  flex-grow: 1;
  width: 100vh;
}


.illustration-container{
  background-color: black;
  text-align: right;
  justify-content: flex-end;
  border: 1px solid white;;

}

.publicité-container {
  background-color: black;
  border: 1px solid white;

}

.typographie-container{
  background-color: black;
  border: 1px solid white;

}

.photographie-container{
  background-color: black;
  border: 1px solid white;
  padding-left: 10px;
}

.plus-sur-moi-container{
  background-color: black;
  border: 1px solid white;
  padding-left: 10px;
}

.contact-container{
  background-color: white;
  text-align: center;
  align-items: center;
  overflow: auto;
  color: black;
  border: 1px solid white;
  position: relative;
}



.side-left {
	left: 0;
	background: #47a3da;
	color: #fff;
	outline: 1px solid #47a3da; /* avoid gap */
  position: fixed;
  z-index: 100;
  width: 20%;
  text-align: center;
  min-height: 100%;
}

.side-right {
  right:0;
  background-color: blue;
  position: fixed;
  z-index: 100;
  width: 80%;
  height: 100%;
  text-align: center;
  min-height: 100vh;
  display: flex;

}

h1, h2 {
  color: black;}

ul{
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  background-color: blue;
  display: block;
  margin: 20px 10px 10px;


}

li{
text-align: center;
padding: 25px;
margin: 20px 0 0;
display: inline-block;
min-height: 100%;
}

.list ul li{
width: 10%;
text-align: center;
padding: 100px;
margin: 20px 50px 10px;
display: inline-flex;
vertical-align: top;
background-color: yellow;
border: 3px solid red;
}
