body {
  background-color: #efefef;
}

section{
  border-top: 1px solid #d3D3D3;
  min-height: 99vh;
}

.project-feature-container {
  display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img{
max-height: 200px;
  align-items: flex-end;
  max-width: 100%;
}



.project-feature {
  border: 2px solid black;
  padding: 1em;
  margin-bottom: 1em;
  flex-basis: 320px;
  flex-grow: 1;
  justify-content: space-around;

}

.Photography{
  border: 45px;
  padding: 1em;

}
figcaption{
  font-size: 0.6em;
  font-style: italic;
}

.photos-project{
  align-items: center;
}

#main-menu{
  background: pink;
  position: absolute;
  width: 400px;

  transition: 1.5s ease all;
  text-decoration: none;
  z-index: 999;
}

#main-menu:target{
  left: -200px;
  text-decoration: none;
}



nav a{
  display: block;
  padding: 1em;
  text-transform: uppercase;
}

.menu-toggle{
  border: 2px solid #000;
  border-radius: 6px;
  padding: 1em;

}

.menu-close{
  display: block;
width: 16px;
height: 16px;
background: #000;
color: #fff;
border-radius: 100%;
position: absolute;
top: 16px;
right: 16px;
}

#main-menu:target + .backdrop{
  background: rgba(255, 0, 0, 0.5);
  position: absolute;
  top:0 ;
  left:0 ;
  z-index: 998;
}

@media (min-width: 640px){
     #main-menu {
       position: relative;
       left: auto;
       top: auto;  }
  }

#main-menu ul {
  display: flex;
  justify-content: space-evenly
  }

.menu-toggle,
.menu-close {
  display: none;
  }

  .train {
    border: solid 6px red;
    justify-content: center;
  }
