 @import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
body {
  font-family:
  background-color: #eeb600;
font-family: 'Orbitron'}

h1{
  font-family: monospace;
  font-size: 3em;
  background-color: grey;
  margin-bottom: 1.25vh;
  text-align: center;
  color: white;

}

h2 {
  font-size: 2em;
  margin-bottom: 1em;


}

h3{

}

h4{

}

h5{


}
